<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h5 class="card-title">Payment Request Detail List</h5>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #payRegDetailForm="ngForm" (ngSubmit)="onFormSubmit(payRegDetailForm.value, payRegDetailForm.valid)">
            <!--#region button submit, button back-->
            <button type="submit" [hidden]="this.tampdHidden" data-role="R00021660032166C"
            class="btn btn-info btn-round">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit, button back-->

            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <input hidden type="text" [ngModel]="this.param" name="p_inventory_adjustment_code">
              <input hidden type="text" [ngModel]="this.params" name="p_id">
              <!--#endregion code-->

              <!--#region inventory_adjustment_code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Adjustment Code</label>
                  <input type="text" class="form-control" [ngModel]="this.param" name="p_inventory_adjustment_code"
                    readonly>
                </div>
              </div>
              <!--#endregion inventory_adjustment_code-->

              <!--#region item_code-->
              <div class="col-md-4">
                <label class="labelmodule">Item *</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupItemCode()" data-target="#lookupModalItemCode" data-toggle="modal" href="#"
                        [disabled]="this.tampdHidden">
                        <i class="fa fa-search-plus"></i></button> {{model.item_name}}
                      <input type="hidden" name="p_item_code" [ngModel]="model.item_code" required
                        #item_code="ngModel" />
                      <input type="hidden" name="p_item_name" [ngModel]="model.item_name" required
                        #item_name="ngModel" />
                    </span>
                  </div>
                  <small
                    *ngIf="item_code.errors?.required && item_code.touched || (item_code.errors?.required && payRegDetailForm.submitted)"
                    class="text-danger">
                    Item is required
                  </small>
                </div>
              </div>
              <!--#endregion item_code-->

              <!--#region radio button plus_or_minus-->
              <div class="col-md-4">
                <label>Order Type</label>
                <div class="form-group col-md-12">
                  <div class="row">
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input [disabled]="this.tampdHidden" class="form-check-input" type="radio"
                          name="p_plus_or_minus" value="1" [(ngModel)]="model.plus_or_minus">PLUS
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input [disabled]="this.tampdHidden" class="form-check-input" type="radio"
                          name="p_plus_or_minus" value="0" [(ngModel)]="model.plus_or_minus">MINUS
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!--#endregion radio button plus_or_minus-->

              <!--#region warehouse_code-->
              <div class="col-md-4">
                <label class="control-label">Warehouse Code *</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupWarehouseCode()" data-target="#lookupModalWarehouseCode" data-toggle="modal"
                        href="#" [disabled]="this.tampdHidden">
                        <i class="fa fa-search-plus"></i></button> {{model.warehouse_name}}
                      <input type="hidden" name="p_warehouse_code" [ngModel]="model.warehouse_code" required maxlength="50"
                        #warehouse_code="ngModel" />
                    </span>
                  </div>
                  <small
                    *ngIf="warehouse_code.errors?.required && warehouse_code.touched || (warehouse_code.errors?.required && payRegDetailForm.submitted)"
                    class="text-danger">
                    Warehouse is required
                  </small>
                </div>
              </div>
              <!--#endregion warehouse_code-->

              <!--#region total_adjustment-->
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Total Adjustment *</label>
                  <input type="text" style="text-align:right" class="form-control col-md-6"
                    [ngModel]="model.total_adjustment" name="p_total_adjustment" maxlength="4" required [readonly]="this.tampdHidden"
                    #total_adjustment="ngModel" pattern={{NumberOnlyPattern}}>
                  <small
                    *ngIf="(total_adjustment.errors?.required && total_adjustment.touched) || (total_adjustment.errors?.required && payRegDetailForm.submitted)"
                    class="text-danger">
                    Total Adjustment is required
                  </small>
                  <small *ngIf="total_adjustment.errors?.pattern && total_adjustment.touched" class="text-danger">
                    Total Adjustment is required and format should be <i>0-9</i>.
                  </small>
                </div>
              </div>
              <!--#endregion total_adjustment-->

              <!--#region remark-->
              <div class="col-md-4">
                <div class="form-group" [class.has-error]="remark.invalid && remark.touched">
                  <label for="remark" class="control-label">Remark *</label>
                  <textarea type="text" class="form-control" [ngModel]="model.remark" name="p_remark" maxlength="4000"
                    required #remark="ngModel" [disabled]="this.tampdHidden"></textarea>
                  <small
                    *ngIf="(remark.errors?.required && remark.touched) || (remark.errors?.required && payRegDetailForm.submitted)"
                    class="text-danger">
                    Remark is required
                  </small>
                </div>
              </div>
              <!--#endregion remark-->

            </div>
            <!--#endregion row -->
          </form>
          <!--#endregion form-->
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region lookup ItemCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalItemCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupItemCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupitemcode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupitemcode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowItemCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup ItemCode -->

<!--#region lookup warehouse-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalWarehouseCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupWarehouseCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupwarehousecode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupwarehousecode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowWarehouseCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup warehouse -->