<router-outlet></router-outlet>

<div id="hideMainPanel" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header">
          <h4 class="card-title">Quotation List XXX</h4>
        </div>
        <div class="card-body">

          <div class="toolbar">
            <!--#region button add-->
            <!-- <button class="btn btn-danger btn-round" (click)="btnDeleteAll()" data-role="R00015120001513D">
              Delete
            </button> -->
            <!--#endregion button add-->
          </div>
          <!--#region row-->
          <div class="row">
            <!--#region Status Type-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Status</label>
                <select class="form-control col-md-6" [ngModel]="this.tampStatusType" (change)="PageStatusType($event)">
                  <option value='ALL'>ALL</option>
                  <option value='HOLD'>HOLD</option>
                  <option value='POST'>POST</option>
                  <option value='CANCEL'>CANCEL</option>
                </select>
              </div>
            </div>
            <!--#endregion Status Type-->

            <!--#region branch_code-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="labelmodule" (click)="btnClearGroup()" style="cursor: pointer;"
                  title="Clear">Branch</label>
                <div class="col-md-12">
                  <span>
                    <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                      (click)="btnLookupBranch()" data-toggle="modal" data-target="#lookupModalBranch" href="#"><i
                        class="fa fa-search-plus"></i></button>
                    {{model.branch_name}}
                  </span>
                </div>
              </div>
            </div>
            <!--#endregion lookup branch_code -->
          </div>
          <!--#endregion row-->

          <!--#region list view-->
          <table id="datatableprocquotation" datatable [dtOptions]="dtOptions"
            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="disabled-sorting">No</th>
                <!-- <th class="disabled-sorting">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="checkalltable" [(ngModel)]="selectedAllTable"
                        (change)="selectAllTable();" />
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </th> -->
                <th style="display: none;"></th>
                <th>Code</th>
                <th>Branch</th>
                <th>Quotation Date</th>
                <th>Remark</th>
                <th>Status</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of listprocurementrequest;let i=index ">
                <td class="if-no-edit-btn" style="text-align: center;">{{listprocurementrequest.numberIndex+i+1}}</td>
                <!-- <td class="disabled-sorting if-no-edit-btn">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                        (change)="checkIfAllTableSelected($event, row.code);" value="{{row.code}}" name="p_code">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td> -->
                <th style="display: none;"></th>
                <td style="text-align: center; width: 20%;">{{row.code }}</td>
                <td style="text-align: left; width: 20%;">{{row.branch_name }}</td>
                <td style="text-align: center; width: 20%;">{{row.quotation_date }}</td>
                <td style="text-align: left; width: 20%;">{{row.remark}}</td>
                <td style="text-align: center; width: 20%;">{{row.status}}</td>
                <td style="text-align: center;">
                  <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit" (click)="btnEdit(row.code)">
                    <i class="fa fa-edit"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <!--#endregion list view-->
        </div>
      </div>
    </div>
  </div>
</div>



<!--#region lookup Branch -->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalBranch"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12" style="width: 100%">
            <table id="datatableLookupBranch" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th class="disabled-sorting">No</th>
                  <th style="display: none;"></th>
                  <th>Code</th>
                  <th>Branch</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupbranch;let i=index">
                  <td style="text-align: center;">{{lookupbranch.numberIndex+i+1}}</td>
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="width: 30%; text-align: center;">{{row.code}}</td>
                  <td style="width: 70%; text-align: left;">{{row.name}}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowBranch(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup Branch-->