<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h4 class="card-title">GL Link Info</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #gllinkForm="ngForm" (ngSubmit)="onFormSubmit(gllinkForm.value, gllinkForm.valid)">

            <!--#region button submit back-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00022410022242C">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit back-->

            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="code" class="control-label">Code *</label>
                  <input type="text" class="form-control" [ngModel]="model.code" maxlength="50" name="p_code"
                    [readonly]="isReadOnly" required #code="ngModel">
                  <small
                    *ngIf="code.errors?.required && code.touched || (code.errors?.required && gllinkForm.submitted) "
                    class="text-danger">
                    Code is required
                  </small>
                </div>
              </div>
              <!--#endregion code-->

              <!--#region gl_link_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="gl_link_name" class="control-label">Name *</label>
                  <input type="text" class="form-control" [ngModel]="model.gl_link_name" maxlength="250"
                    name="p_gl_link_name" required #gl_link_name="ngModel">
                  <small
                    *ngIf="gl_link_name.errors?.required && gl_link_name.touched || (gl_link_name.errors?.required && gllinkForm.submitted) "
                    class="text-danger">
                    Name is required
                  </small>
                </div>
              </div>
              <!--#endregion gl_link_name-->

              <!--#region is_active-->
              <div class="col-md-4">
                <div class="form-check mt-3" style="margin-left: -35px;">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [ngModel]="model.is_active" name="p_is_active">
                      Active
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--#endregion is_active-->
            </div>
            <!--#endregion row-->
          </form>
          <!--#endregion form-->
        </div>
        <div class="card-footer  ">
        </div>
      </div>
    </div>
  </div>
</div>