<div class="main-content margin-wizard-content">
    <!-- spinner region -->
    <div class="panel-container-spinner" *ngIf="showSpinner">
        <app-spinner class="spinner-container"></app-spinner>
    </div>
    <!-- end spinner region -->
    <div class="row">
        <div class="col-md-12">
            <div class="card-body ">
                <!--#region form-->
                <form #quoReviewDetailForm="ngForm"
                    (ngSubmit)="onFormSubmit(quoReviewDetailForm.value, quoReviewDetailForm.valid)">
                    <!--#region button submit, button back-->
                    <!-- <button [hidden]="this.param == null || model.status != 'HOLD' || model.status === 'POST'" type="submit" -->
                    <button type="submit" data-role="R00021580032158C" class="btn btn-info btn-round"
                        [hidden]="isButton">Save</button>
                    <button type="button" [hidden]="isButtonForETADate"
                        class="btn btn-success btn-round custom-button-width"
                        (click)="btnUpdate(quoReviewDetailForm.value)" data-role="R00021580012158O">Update ETA
                        Date</button>
                    <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>

                    <button hidden id="itemwiz" type="button" (click)="callGetrowHeader()"></button>
                    <!--#endregion button submit, button back-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region code-->
                        <input hidden type="text" [ngModel]="this.param" name="p_po_code">
                        <input hidden type="text" [ngModel]="this.params" name="p_id">
                        <input hidden type="text" [ngModel]="model.quotation_code" name="p_quotation_code">
                        <!--#endregion code-->

                        <!--#region item_code-->
                        <div class="col-md-4">
                            <label class="labelmodule">Item *</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>
                                        <button
                                            class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                                            type="button" (click)="btnLookupItemCode()"
                                            data-target="#lookupModalItemCode" data-toggle="modal" href="#"
                                            [disabled]="isButton">
                                            <i class="fa fa-search-plus"></i></button> {{model.item_name}}
                                        <input type="hidden" name="p_item_code" [ngModel]="model.item_code" required
                                            #item_code="ngModel" />
                                        <input type="hidden" name="p_item_name" [ngModel]="model.item_name" required
                                            #item_name="ngModel" />
                                        <input type="hidden" name="p_type_asset_code" [ngModel]="model.type_asset_code"
                                            #type_asset_code="ngModel" />

                                        <input type="hidden" name="p_item_category_code"
                                            [ngModel]="model.item_category_code" #item_category_code="ngModel" />
                                        <input type="hidden" name="p_item_category_name"
                                            [ngModel]="model.item_category_name" #item_category_name="ngModel" />

                                        <input type="hidden" name="p_item_merk_code" [ngModel]="model.item_merk_code"
                                            #item_merk_code="ngModel" />
                                        <input type="hidden" name="p_item_merk_name" [ngModel]="model.item_merk_name"
                                            #item_merk_name="ngModel" />

                                        <input type="hidden" name="p_item_model_code" [ngModel]="model.item_model_code"
                                            #item_model_code="ngModel" />
                                        <input type="hidden" name="p_item_model_name" [ngModel]="model.item_model_name"
                                            #item_model_name="ngModel" />

                                        <input type="hidden" name="p_item_type_code" [ngModel]="model.item_type_code"
                                            #item_type_code="ngModel" />
                                        <input type="hidden" name="p_item_type_name" [ngModel]="model.item_type_name"
                                            #item_type_name="ngModel" />
                                    </span>
                                </div>
                                <small
                                    *ngIf="item_code.errors?.required && item_code.touched || (item_code.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Item is required
                                </small>
                            </div>
                        </div>
                        <!--#endregion item_code-->

                        <!--#region order_quantity-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Order Quantity *</label>
                                <input type="text" style="text-align:right" class="form-control col-md-4"
                                    [ngModel]="model.order_quantity" name="p_order_quantity" maxlength="4" required
                                    [readonly]="isButton" #order_quantity="ngModel" pattern={{NumberOnlyPattern}}>
                                <small
                                    *ngIf="(order_quantity.errors?.required && order_quantity.touched) || (order_quantity.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Order Quantity is required
                                </small>
                                <small *ngIf="order_quantity.errors?.pattern && order_quantity.touched"
                                    class="text-danger">
                                    Order Quantity is required and format should be <i>0-9</i>.
                                </small>
                            </div>
                        </div>
                        <!--#endregion area order_quantity-->

                        <!--#region order_remaining-->
                        <!-- <div class="col-md-4" [hidden]="this.tampHidden !== true">
                            <div class="form-group">
                                <label class="control-label">Order Remaining</label>
                                <input type="text" style="text-align:right" class="form-control col-md-4"
                                    [ngModel]="model.order_remaining" name="p_order_remaining" maxlength="4" readonly
                                    #order_remaining="ngModel" pattern={{NumberOnlyPattern}}>
                            </div>
                        </div> -->
                        <!--#endregion order_remaining-->

                        <!--#region order_remaining-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Order Remaining *</label>
                                <input type="text" style="text-align:right" class="form-control col-md-6"
                                    [ngModel]="model.order_remaining" name="p_order_remaining" maxlength="4"
                                    [readonly]="isButton" #order_remaining="ngModel" pattern={{NumberOnlyPattern}}
                                    required>
                                <small
                                    *ngIf="(order_remaining.errors?.required && order_remaining.touched) || (order_remaining.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Order Remaining is required
                                </small>
                                <small *ngIf="order_remaining.errors?.pattern && order_remaining.touched"
                                    class="text-danger">
                                    Order Remaining is required and format should be <i>0-9</i>.
                                </small>
                            </div>
                        </div>
                        <!--#endregion order_remaining-->

                        <!--#region uom_name-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="uom_name.invalid && uom_name.touched">
                                <label for="uom_name" class="control-label">UOM</label>
                                <input type="text" class="form-control" [ngModel]="model.uom_name" name="p_uom_name"
                                    maxlength="4000" #uom_name="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion uom_name-->

                        <!--#region price_amount-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="price_amount.invalid && price_amount.touched">
                                <label for="price_amount" class="control-label">Unit Price *</label>
                                <input type="text" class="form-control col-md-6" style="text-align: right;"
                                    amount="price_amount" maxlength="250"
                                    [ngModel]="model.price_amount | number : '1.2-2'" name="p_price_amount"
                                    #price_amount="ngModel" required [readonly]="isButton">
                                <small
                                    *ngIf="price_amount.errors?.required && price_amount.touched || (price_amount.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Price Amount is required
                                </small>
                                <small
                                    *ngIf="price_amount.errors?.pattern && price_amount.touched || (price_amount.errors?.pattern && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Price Amount is required and format should be <i>0-9</i>
                                </small>
                            </div>
                        </div>
                        <!--#endregion price_amount-->

                        <!--#region discount_amount-->
                        <div class="col-md-4">
                            <div class="form-group"
                                [class.has-error]="discount_amount.invalid && discount_amount.touched">
                                <label for="discount_amount" class="control-label">Discount Amount (Unit)</label>
                                <input type="text" class="form-control col-md-6" style="text-align: right;"
                                    amount="discount_amount" [ngModel]="model.discount_amount | number : '1.2-2'"
                                    name="p_discount_amount" #discount_amount="ngModel" [readonly]="isButton">
                            </div>
                        </div>
                        <!--#endregion discount_amount-->

                        <!--#region tax_code-->
                        <div class="col-md-4">
                            <label class="labelmodule">Tax *</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>
                                        <button
                                            class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                                            type="button" (click)="btnLookupTaxCode()" data-target="#lookupModalTax"
                                            data-toggle="modal" href="#" [disabled]="isButton">
                                            <i class="fa fa-search-plus"></i></button> {{model.tax_name}}
                                        <input type="hidden" name="p_tax_code" [ngModel]="model.tax_code" required
                                            #tax_code="ngModel" />
                                        <input type="hidden" name="p_tax_name" [ngModel]="model.tax_name" required
                                            #tax_name="ngModel" />
                                        <input type="hidden" name="p_ppn_pct" [ngModel]="model.ppn_pct"
                                            #ppn_pct="ngModel" />
                                        <input type="hidden" name="p_pph_pct" [ngModel]="model.pph_pct"
                                            #pph_pct="ngModel" />
                                    </span>
                                </div>
                                <small
                                    *ngIf="tax_code.errors?.required && tax_code.touched || (tax_code.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Tax is required
                                </small>
                            </div>
                        </div>
                        <!--#endregion tax_code-->

                        <!--#region ppn_amount-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="ppn_amount.invalid && ppn_amount.touched">
                                <label for="ppn_amount" class="control-label">PPN Amount</label>
                                <input type="text" class="form-control col-md-6" style="text-align: right;"
                                    amount="ppn_amount_detail" maxlength="250"
                                    [ngModel]="model.ppn_amount | number : '1.2-2'" name="p_ppn_amount"
                                    #ppn_amount="ngModel" [readonly]="model.status !== 'HOLD'" readonly>
                            </div>
                        </div>
                        <!--#endregion ppn_amount-->

                        <!--#region pph_amount-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="pph_amount.invalid && pph_amount.touched">
                                <label for="pph_amount" class="control-label">PPH Amount</label>
                                <input type="text" class="form-control col-md-6" style="text-align: right;"
                                    amount="pph_amount_detail" maxlength="250"
                                    [ngModel]="model.pph_amount | number : '1.2-2'" name="p_pph_amount"
                                    #pph_amount="ngModel" [readonly]="model.status !== 'HOLD'" disabled>
                            </div>
                        </div>
                        <!--#endregion pph_amount-->

                        <!--#region uom_code-->
                        <div class="col-md-4" hidden>
                            <label class="labelmodule">UOM *</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>
                                        <button
                                            class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                                            type="button" (click)="btnLookupUomCode()" data-target="#lookupModalUomCode"
                                            data-toggle="modal" href="#" [disabled]="model.status !== 'HOLD'">
                                            <i class="fa fa-search-plus"></i></button> {{model.uom_name}}
                                        <input type="hidden" name="p_uom_code" [ngModel]="model.uom_code"
                                            #uom_code="ngModel" />
                                    </span>
                                </div>
                                <small
                                    *ngIf="uom_code.errors?.required && uom_code.touched || (uom_code.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Uom is required
                                </small>
                            </div>
                        </div>
                        <!--#endregion uom_code-->

                        <!--#region total_amount-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="total_amount.invalid && total_amount.touched">
                                <label for="total_amount" class="control-label">Total Amount</label>
                                <input type="text" class="form-control col-md-6" style="text-align: right;"
                                    amount="total_amount" [ngModel]="model.total_amount | number : '1.2-2'"
                                    name="p_total_amount" #total_amount="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion total_amount-->

                        <!--#region spesification-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="spesification.invalid && spesification.touched">
                                <label for="spesification" class="control-label">Spesification</label>
                                <textarea type="text" class="form-control" [ngModel]="model.spesification"
                                    name="p_spesification" maxlength="4000" #spesification="ngModel"
                                    [readonly]="isButton"></textarea>
                            </div>
                        </div>
                        <!--#endregion spesification-->

                        <!--#region description-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="description.invalid && description.touched">
                                <label for="description" class="control-label">Description *</label>
                                <textarea type="text" class="form-control" [ngModel]="model.description"
                                    name="p_description" maxlength="4000" required #description="ngModel"
                                    [readonly]="isButton"></textarea>
                                <small
                                    *ngIf="(description.errors?.required && description.touched) || (description.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    Description is required
                                </small>
                            </div>
                        </div>
                        <!--#endregion description-->

                        <!--#region unit_available_status-->
                        <div class="col-md-4">
                            <label>Unit Stock</label>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="p_unit_available_status"
                                                #unit_from="ngModel" value="READY"
                                                [(ngModel)]="model.unit_available_status" [disabled]="isButton">READY
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="p_unit_available_status"
                                                #unit_from="ngModel" value="INDENT"
                                                [(ngModel)]="model.unit_available_status" [disabled]="isButton">INDENT
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--#endregion unit_available_status-->

                        <!--#region indent_days-->
                        <div class="col-md-4" [hidden]="model.unit_available_status == 'READY'">
                            <div class="form-group">
                                <label class="control-label">Indent Days</label>
                                <input type="text" style="text-align:right" class="form-control col-md-4"
                                    [ngModel]="model.indent_days" name="p_indent_days" maxlength="4"
                                    [readonly]="isButton" #indent_days="ngModel" pattern={{NumberOnlyPattern}}>
                            </div>
                        </div>
                        <!--#endregion area indent_days-->

                        <!--#region offering-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="offering.invalid && offering.touched">
                                <label for="offering" class="control-label">Offering</label>
                                <textarea type="text" class="form-control" [ngModel]="model.offering" name="p_offering"
                                    maxlength="4000" #offering="ngModel" [readonly]="isButton"></textarea>
                            </div>
                        </div>
                        <!--#endregion offering-->

                        <!--#region initiation_eta_date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="initiation_eta_date" class="control-label">Initiation ETA Date *</label>
                                <input [readonly]="this.isButton" class="form-control col-md-6" placeholder="dd/mm/yyyy"
                                    angular-mydatepicker [ngModel]="model.initiation_eta_date"
                                    name="p_initiation_eta_date" required [options]="myDatePickerOptions"
                                    (click)="initiation_eta_date.toggleCalendar()" #p_initiation_eta_date="ngModel"
                                    #initiation_eta_date="angular-mydatepicker" autocomplete="off"
                                    [ngStyle]="getStyles(isButton)" (dateChanged)="InitiationDate($event)" />
                                <small
                                    *ngIf="(p_initiation_eta_date.errors?.required && p_initiation_eta_date.touched) || (p_initiation_eta_date.errors?.required && quoReviewDetailForm.submitted)"
                                    class="text-danger">
                                    ETA Date is required
                                </small>
                            </div>
                        </div>
                        <!--#endregion initiation_eta_date-->

                        <!--#region ETA Date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="eta_date" class="control-label">ETA Date</label>
                                <div>
                                    <input [readonly]="this.isButtonForETADate" class="form-control col-md-6"
                                        placeholder="dd/mm/yyyy" angular-mydatepicker [ngModel]="model.eta_date"
                                        name="p_eta_date_detail" [options]="myDatePickerOptions" #p_eta_date="ngModel"
                                        #eta_date="angular-mydatepicker" autocomplete="off"
                                        (click)="eta_date.toggleCalendar()" [ngStyle]="getStyles(isButtonForETADate)"
                                        (dateChanged)="EtaDate($event)" />
                                </div>
                            </div>
                        </div>
                        <!--#endregion ETA Date-->

                        <!--#region eta_date_remark-->
                        <div class="col-md-4">
                            <div class="form-group"
                                [class.has-error]="eta_date_remark.invalid && eta_date_remark.touched">
                                <label for="eta_date_remark" class="control-label">ETA Date Remark</label>
                                <textarea type="text" class="form-control" [ngModel]="model.eta_date_remark"
                                    name="p_eta_date_remark" maxlength="4000" #eta_date_remark="ngModel"
                                    [readonly]="this.isButtonForETADate"></textarea>
                            </div>
                        </div>
                        <!--#endregion eta_date_remark-->

                        <!--#region bbn_name-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="bbn_name.invalid && bbn_name.touched">
                                <label for="bbn_name" class="control-label">BBN Name</label>
                                <input type="text" class="form-control" [ngModel]="model.bbn_name" name="p_bbn_name"
                                    maxlength="250" #bbn_name="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion bbn_name-->

                        <!--#region bbn_location-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="bbn_location.invalid && bbn_location.touched">
                                <label for="bbn_location" class="control-label">BBN Location</label>
                                <input type="text" class="form-control" [ngModel]="model.bbn_location"
                                    name="p_bbn_location" maxlength="250" #bbn_location="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion bbn_location-->

                        <!--#region bbn_address-->
                        <div class="col-md-4">
                            <div class="form-group" [class.has-error]="bbn_address.invalid && bbn_address.touched">
                                <label for="bbn_address" class="control-label">BBN Address</label>
                                <textarea type="text" class="form-control" [ngModel]="model.bbn_address"
                                    name="p_bbn_address" maxlength="4000" #bbn_address="ngModel" readonly></textarea>
                            </div>
                        </div>
                        <!--#endregion bbn_address-->

                        <!--#region deliver_to_address-->
                        <div class="col-md-4">
                            <div class="form-group"
                                [class.has-error]="deliver_to_address.invalid && deliver_to_address.touched">
                                <label for="deliver_to_address" class="control-label">Deliver To Address</label>
                                <textarea type="text" class="form-control" [ngModel]="model.deliver_to_address"
                                    name="p_deliver_to_address" maxlength="4000" #deliver_to_address="ngModel"
                                    readonly></textarea>
                            </div>
                        </div>
                        <!--#endregion deliver_to_address-->
                    </div>
                    <!--#endregion row -->
                </form>
                <!--#endregion form-->
            </div>
            <div id="ListBiddingDetail" *ngIf="params != null"
                [hidden]="model.procurement_type == 'MOBILISASI' || model.category_type != 'ASSET'">
                <!--#region list view-->
                <span layout="row horizontal-divider">
                    <hr flex />
                </span>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h4 class="card-title">Object Info List</h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <!--#region button--->
                                <button class="btn btn-info btn-round" data-role="R00021580052160C"
                                    [hidden]="modeldetail.status === 'CANCEL' || modeldetail.status === 'REJECT' ||isButtonSave"
                                    (click)="btnSaveList()">
                                    Save
                                </button>
                                <button hidden class="btn btn-danger btn-round" data-role="R00021580052161D"
                                    (click)="btnDeleteAll()">
                                    Delete
                                </button>
                                <button hidden id="tabdetailwiz" type="button" (click)="callGetrowHeader()"></button>
                                <!--#endregion button--->
                            </div>

                            <!--#region list view-->
                            <table id="datatableObjectInfo" datatable [dtOptions]="dtOptions"
                                class="table table-striped table-bordered row-border hover" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th class="disabled-sorting" style="text-align: center;">No</th>
                                        <th style="display:none ;"></th>
                                        <!-- <th class="disabled-sorting">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="checkall"
                                                        [(ngModel)]="selectedAll" (change)="selectAll();" />
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </th> -->
                                        <th [hidden]="model.type_asset_code != 'VHCL'">Plat No</th>
                                        <th [hidden]="model.type_asset_code != 'ELCT'">Serial No</th>
                                        <th
                                            [hidden]="model.type_asset_code !== 'HE' && model.type_asset_code !== 'MCHN'">
                                            Invoice No</th>
                                        <th [hidden]="model.type_asset_code == 'ELCT'">Chassis No</th>
                                        <th [hidden]="model.type_asset_code == 'ELCT'">Engine No</th>
                                        <th [hidden]="model.type_asset_code != 'ELCT'">Domain</th>
                                        <th [hidden]="model.type_asset_code != 'ELCT'">IMEI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of listobjectinfolist;  let i=index">
                                        <td style="text-align: center;">{{listobjectinfolist.numberIndex+i+1}}</td>
                                        <td style="display:none ;"></td>
                                        <!-- <td class="disabled-sorting">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                        [(ngModel)]="row.selected"
                                                        (change)="checkIfAllTableSelected($event, row.id);">
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div> -->
                                        <!-- </td>  -->
                                        <input type="hidden" value="{{row.id}}" name="p_id_object_info">
                                        <td style="width: 33%;" [hidden]="model.type_asset_code != 'VHCL'">
                                            <input type="text" id="plat_no{{i}}" class="form-control" type="text"
                                                [readonly]="modeldetail.status === 'CANCEL' || modeldetail.status === 'REJECT' || row.good_receipt_note_detail_id != '0'"
                                                value="{{row.plat_no}}" name="p_plat_no">
                                        </td>
                                        <td style="width: 33%;" [hidden]="model.type_asset_code != 'ELCT'">
                                            <input type="text" [readonly]="modeldetail.status != 'HOLD'"
                                                id="serial_no{{i}}" class="form-control" type="text"
                                                value="{{row.serial_no}}" name="p_serial_no">
                                        </td>
                                        <td style="width: 33%;"
                                            [hidden]="model.type_asset_code !== 'HE' && model.type_asset_code !== 'MCHN'">
                                            <input type="text" [readonly]="modeldetail.status != 'HOLD'"
                                                id="invoice_no{{i}}" class="form-control" type="text"
                                                value="{{row.invoice_no}}" name="p_invoice_no">
                                        </td>
                                        <td style="width: 33%;" [hidden]="model.type_asset_code == 'ELCT'">
                                            <input type="text" id="chassis_no{{i}}" class="form-control" type="text"
                                                [readonly]="modeldetail.status === 'CANCEL' || modeldetail.status === 'REJECT' || row.good_receipt_note_detail_id != '0'"
                                                value="{{row.chassis_no}}" name="p_chassis_no">
                                        </td>
                                        <td style="width: 33%;" [hidden]="model.type_asset_code == 'ELCT'">
                                            <input type="text" id="engine_no{{i}}" class="form-control" type="text"
                                                [readonly]="modeldetail.status === 'CANCEL' || modeldetail.status === 'REJECT' || row.good_receipt_note_detail_id != '0'"
                                                value="{{row.engine_no}}" name="p_engine_no">
                                        </td>
                                        <td style="width: 33%;" [hidden]="model.type_asset_code != 'ELCT'">
                                            <input type="text" [readonly]="modeldetail.status != 'HOLD'"
                                                id="domain{{i}}" class="form-control" type="text" value="{{row.domain}}"
                                                name="p_domain">
                                        </td>
                                        <td style="width: 33%;" [hidden]="model.type_asset_code != 'ELCT'">
                                            <input type="text" [readonly]="modeldetail.status != 'HOLD'" id="imei{{i}}"
                                                class="form-control" type="text" value="{{row.imei}}" name="p_imei">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--#endregion list view-->
                        </div>
                    </div>
                </div>
                <!--#endregion list view-->
            </div>

            <div [hidden]="model.procurement_type != 'MOBILISASI'">
                <span layout="row horizontal-divider">
                    <hr flex />
                </span>

                <br>

                <!--#region row-->
                <div class="row">
                    <!--#region phone no-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group"
                            [class.has-error]="from_area_phone_no.invalid && from_area_phone_no.touched && from_area_phone_no.invalid && from_area_phone_no.touched">
                            <label for="from_area_phone_no && from_phone_no" class="control-label">
                                From Phone No *</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control area-code input-mini aid-primary-phone1-lbl"
                                        [ngModel]="model.from_area_phone_no" name="p_from_area_phone_no"
                                        #from_area_phone_no="ngModel" maxlength="4" disabled
                                        pattern={{NumberOnlyPattern}}>
                                </div>
                                -
                                <div class="col-md-7">
                                    <input type="text" class="form-control" [ngModel]="model.from_phone_no"
                                        name="p_from_phone_no" maxlength="15" #from_phone_no="ngModel" disabled
                                        pattern={{NumberOnlyPattern}}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion phone no-->

                    <!--#region phone no-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group"
                            [class.has-error]="to_area_phone_no.invalid && to_area_phone_no.touched && to_phone_no.invalid && to_phone_no.touched">
                            <label for="to_area_phone_no && to_phone_no" class="control-label">
                                To Phone No *</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control area-code input-mini aid-primary-phone1-lbl"
                                        [ngModel]="model.to_area_phone_no" name="p_to_area_phone_no"
                                        #to_area_phone_no="ngModel" maxlength="4" disabled
                                        pattern={{NumberOnlyPattern}}>
                                </div>
                                -
                                <div class="col-md-7">
                                    <input type="text" class="form-control" [ngModel]="model.to_phone_no"
                                        name="p_to_phone_no" maxlength="15" #to_phone_no="ngModel" disabled
                                        pattern={{NumberOnlyPattern}}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion phone no-->
                </div>
                <!--#endregion row-->

                <!--#region row-->
                <div class="row">
                    <!--#region province-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group">
                            <label for="from_province_code" class="control-label labelmodule">From Province *</label>
                            <div class="col-md-12">
                                <span>
                                    <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                                        data-toggle="modal" data-target="#lookupModalFromProvince" href="#" disabled><i
                                            class="fa fa-search-plus"></i></button>
                                    {{model.from_province_name}}
                                    <input type="hidden" class="form-control" [ngModel]="model.from_province_code"
                                        name="p_from_province_code" #from_province_code="ngModel">
                                    <input type="hidden" class="form-control" [ngModel]="model.from_province_name"
                                        name="p_from_province_name" #from_province_name="ngModel">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--#endregion province-->

                    <!--#region province-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group">
                            <label for="to_province_code" class="control-label labelmodule">To Province *</label>
                            <div class="col-md-12">
                                <span>
                                    <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                                        data-toggle="modal" data-target="#lookupModalProvince" href="#" disabled><i
                                            class="fa fa-search-plus"></i></button>
                                    {{model.to_province_name}}
                                    <input type="hidden" class="form-control" [ngModel]="model.to_province_code"
                                        name="p_to_province_code" #to_province_code="ngModel">
                                    <input type="hidden" class="form-control" [ngModel]="model.to_province_name"
                                        name="p_to_province_name" #to_province_name="ngModel">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--#endregion province-->
                </div>
                <!--#endregion row-->

                <!--#region row-->
                <div class="row">
                    <!--#region from city code-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group">
                            <label for="to_city_code" class="control-label labelmodule">From City *</label>
                            <div class="col-md-12">
                                <span>
                                    <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                                        data-toggle="modal" data-target="#lookupModalFromCity" href="#" disabled><i
                                            class="fa fa-search-plus"></i></button>
                                    {{model.from_city_name}}
                                    <input type="hidden" class="form-control" [ngModel]="model.from_city_code"
                                        name="p_from_city_code" #from_city_code="ngModel">
                                    <input type="hidden" class="form-control" [ngModel]="model.from_city_name"
                                        name="p_from_city_name" #from_city_name="ngModel">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--#endregion from city code-->

                    <!--#region city code-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group">
                            <label for="to_city_code" class="control-label labelmodule">To City *</label>
                            <div class="col-md-12">
                                <span>
                                    <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                                        data-toggle="modal" data-target="#lookupModalCity" href="#" disabled><i
                                            class="fa fa-search-plus"></i></button>
                                    {{model.to_city_name}}
                                    <input type="hidden" class="form-control" [ngModel]="model.to_city_code"
                                        name="p_to_city_code" #to_city_code="ngModel">
                                    <input type="hidden" class="form-control" [ngModel]="model.to_city_name"
                                        name="p_to_city_name" #to_city_name="ngModel">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--#endregion city code-->
                </div>
                <!--#endregion row-->

                <!--#region row-->
                <div class="row">
                    <!--#region from_address-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group" [class.has-error]="from_address.invalid && from_address.touched">
                            <label for="from_address" class="control-label">From Address *</label>
                            <textarea type="text" class="form-control" [ngModel]="model.from_address"
                                name="p_from_address" maxlength="4000" #from_address="ngModel" disabled></textarea>
                        </div>
                    </div>
                    <!--#endregion from_address-->

                    <!--#region to_address-->
                    <div class="col-md-4" [hidden]="model.procurement_type == 'PURCHASE'">
                        <div class="form-group" [class.has-error]="to_address.invalid && to_address.touched">
                            <label for="to_address" class="control-label">To Address *</label>
                            <textarea type="text" class="form-control" [ngModel]="model.to_address" name="p_to_address"
                                maxlength="4000" #to_address="ngModel" disabled></textarea>
                        </div>
                    </div>
                    <!--#endregion to_address-->
                </div>
                <!--#endregion row-->
            </div>
        </div>
    </div>
</div>


<!--#region lookup ItemCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalItemCode"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12">
                    <div class="card-body col-md-12">
                        <table id="datatableLookupItemCode" class="table table-striped table-bordered hover"
                            cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of lookupitemcode;let i=index ">
                                    <td class="if-no-edit-btn" style="display: none;"></td>
                                    <td style="text-align: center;">{{lookupitemcode.numberIndex+i+1}}</td>
                                    <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                                    <td style="width: 80%;">{{ row.description }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-default btn-round"
                                            (click)="btnSelectRowItemCode(row.code, row.description, row.uom_code, row.uom_name, row.type_asset_code, row.fa_category_code, row.fa_category_name
                                            ,row.merk_code, row.merk_name, row.type_code, row.type_name, row.model_code, row.model_name)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion lookup ItemCode -->

<!--#region lookup UomCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalUomCode"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12">
                    <div class="card-body col-md-12">
                        <table id="datatableLookupUomCode" class="table table-striped table-bordered hover"
                            cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of lookupuomcode;let i=index ">
                                    <td class="if-no-edit-btn" style="display: none;"></td>
                                    <td style="text-align: center;">{{lookupuomcode.numberIndex+i+1}}</td>
                                    <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                                    <td style="width: 80%;">{{ row.description }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-default btn-round"
                                            (click)="btnSelectRowUomCode(row.code, row.description)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion lookup UomCode -->

<!--#region lookup Tax-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalTax" style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12">
                    <div class="card-body col-md-12">
                        <table id="datatableLookupTax" class="table table-striped table-bordered hover" cellspacing="0"
                            style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Description</th>
                                    <th>PPN (%)</th>
                                    <th>PPH (%)</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of lookupTax;let i=index ">
                                    <td class="if-no-edit-btn" style="display: none;"></td>
                                    <td style="text-align: center;">{{lookupTax.numberIndex+i+1}}</td>
                                    <td style="width: 70%;">{{ row.name }}</td>
                                    <td style="width: 15%;">{{ row.ppn_pct | number : '1.6-6'}}</td>
                                    <td style="width: 15%;">{{ row.pph_pct | number : '1.6-6'}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-default btn-round"
                                            (click)="btnSelectRowTax(row.code, row.name, row.ppn_pct, row.pph_pct)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion lookup Tax -->