<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h4 class="card-title">Report Log</h4>
        </div>
        <div class="card-body ">
          <form #rptForm="ngForm" (ngSubmit)="onFormSubmit(rptForm.value, rptForm.valid)">
            <!--#region button print dan back-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00023670000002P">Print</button>
            <!--#endregion button print dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region Code-->
              <input type="text" class="form-control" [ngModel]="model.code" maxlength="50" name="p_code" hidden>
              <!--#endregion code-->

              <!--#region lookup Report Name -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Report Name *</label>
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupReportName()" data-toggle="modal" data-target="#lookupModalReportName"
                        href="#"><i class="fa fa-search-plus"></i></button>
                      {{model.report_name}}
                      <input type="text" [ngModel]="model.report_name" name="p_report_name" hidden required
                        #report_name="ngModel">
                      <input type="text" [ngModel]="model.code" name="p_report_code" hidden required
                        #code="ngModel">
                    </span>
                  </div>
                  <small [hidden]="report_name.valid || (report_name.pristine && !rptForm.submitted)" class="text-danger">
                    Report Name is required
                  </small>
                </div>
              </div>
              <!--#endregion lookup Report Name -->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <div class="row">
              <!--#region lookup Employee -->
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label labelmodule">Employee *</label>
                  <div class="col-md-12 buttons">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupEmployee()" data-toggle="modal" data-target="#lookupModalEmployee" href="#"><i
                          class="fa fa-search-plus"></i></button>
                      {{model.employee_name}}
                      <input type="text" [ngModel]="model.employee_code" name="p_employee" hidden required
                      #employee_code="ngModel">
                    </span>
                  </div>
                  <small
                  *ngIf="employee_code.errors?.required && employee_code.touched || (employee_code.errors?.required && rptForm.submitted)"
                  class="text-danger">
                    Employee is required
                  </small>
                </div>
              </div>
              <!--#endregion lookup Employee -->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <div class="row">
              <!--#region from_date-->
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="from_date" class="control-label">From Date *</label>
                  <div>
                    <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                      [ngModel]="model.from_date" name="p_from_date" [options]="myDatePickerOptions"
                      #p_from_date="ngModel" required #from_date="angular-mydatepicker" autocomplete="off"
                      max="{{rptForm.value.p_to_date}}" (click)="from_date.toggleCalendar()" />
                    <small *ngIf="(p_from_date.errors?.required && p_from_date.touched) || (p_from_date.errors?.required && rptForm.submitted)" class="text-danger">
                      From Date is required
                    </small>
                    <small *ngIf="rptForm.value.p_from_date > rptForm.value.p_to_date" class="text-danger">
                      From Date must be less or equal than To Date
                    </small>
                  </div>
                </div>
              </div>
              <!--#endregion from_date-->

              <!--#region to_date-->
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="to_date" class="control-label">To Date *</label>
                  <div>
                    <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                      [ngModel]="model.to_date" name="p_to_date" [options]="myDatePickerOptions" #p_to_date="ngModel"
                      required #to_date="angular-mydatepicker" autocomplete="off" min="{{rptForm.value.p_from_date}}"
                      (click)="to_date.toggleCalendar()" />
                    <small *ngIf="(p_to_date.errors?.required && p_to_date.touched) || (p_to_date.errors?.required && rptForm.submitted)" class="text-danger">
                      To Date is required
                    </small>
                    <small *ngIf="rptForm.value.p_to_date < rptForm.value.p_from_date" class="text-danger">
                      To Date must be greater or equal than From Date
                    </small>
                  </div>
                </div>
              </div>
              <!--#endregion to_date-->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <!-- <div class="row">
              #region print_option
              <div class="col-md-4">
                <label>Output Option</label>
                <div class="form-group col-md-12">
                  <div class="row">
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="p_print_option" value="ExcelRecord"
                          [(ngModel)]="model.print_option">Export To Excel
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              #endregion print_option
            </div> -->
            <!--#endregion row-->
          </form>  
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region modal lookup Report Name-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalReportName"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupReportName" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupreportname; let i=index">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupreportname.numberIndex+i+1}}</td>
                  <td style="width:100%;">{{ row.name }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowlookupReportName(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Report Name-->

<!--#region modal lookup Employee-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalEmployee"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupEmployee" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupemployee;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupemployee.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 20%;">{{ row.code }}</td>
                  <td style="text-align: left; width: 80%;">{{ row.name }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowEmployee(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Employee-->