<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h4 class="card-title">Verification Info</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #verificationForm="ngForm" (ngSubmit)="onFormSubmit(verificationForm.value, verificationForm.valid)">
            <!--#region button submit dan back-->
            <button type="button" class="btn btn-success btn-round" [hidden]="model.status != 'ON VERIFIED'"
              (click)="btnApprove(model.code)" data-role="R00021530002154O">Proceed</button>
            
            <button class="btn btn-danger btn-round" (click)="btnBack()">Back</button>

            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <input type="text" class="form-control" [ngModel]="model.code" maxlength="50" name="p_code"
                #code="ngModel" hidden>
              <!--#endregion code-->

              <!--#region company_code-->
              <input type="text" class="form-control" [ngModel]="model.company_code" maxlength="50"
                name="p_company_code" #company_code="ngModel" hidden>
              <!--#endregion company_code-->

              <!--#region requestor_code-->
              <!-- <div class="col-md-4">
                <label class="control-label">Requestor</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupRequestorCode()" data-target="#lookupModalRequestorCode" data-toggle="modal"
                        href="#" disabled>
                        <i class="fa fa-search-plus"></i></button> {{model.requestor_name}}
                      <input type="hidden" name="p_requestor_code" [ngModel]="model.requestor_code" required
                        #requestor_code="ngModel" />
                      <input type="hidden" name="p_requestor_name" [ngModel]="model.requestor_name" required
                        #requestor_name="ngModel" />
                    </span>
                  </div>
                </div>
              </div> -->
              <!--#endregion requestor_code-->

              <!--#region requirement_type-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="requirement_type" class="control-label">Requirement Type</label>
                  <input type="text" class="form-control" [ngModel]="model.requirement_type" maxlength="250"
                    name="p_requirement_type" readonly #requirement_type="ngModel">
                </div>
              </div>
              <!--#endregion requirement_type-->

              <!--#region branch_code-->
              <div class="col-md-4">
                <label class="labelmodule">Branch</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupBranchCode()" data-target="#lookupModalBranchCode" data-toggle="modal"
                        disabled href="#">
                        <i class="fa fa-search-plus"></i></button> {{model.branch_name}}
                      <input type="hidden" name="p_branch_code" [ngModel]="model.branch_code" #branch_code="ngModel" />
                      <input type="hidden" name="p_branch_name" [ngModel]="model.branch_name" #branch_name="ngModel" />
                    </span>
                  </div>
                </div>
              </div>
              <!--#endregion branch_code-->

              <!--#region status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="status" class="control-label">Status</label>
                  <input type="text" class="form-control" [ngModel]="model.status" maxlength="20" name="p_status"
                    readonly #status="ngModel">
                </div>
              </div>
              <!--#endregion status-->

              <!--#region request date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="request_date" class="control-label">Request Date</label>
                  <div>
                    <input class="form-control col-md-4" placeholder="dd/mm/yyyy" angular-mydatepicker
                      [ngModel]="model.request_date" name="p_request_date" [options]="myDatePickerOptions" readonly
                      #p_request_date="ngModel" #request_date="angular-mydatepicker" autocomplete="off"
                      (click)="request_date.toggleCalendar()" [ngStyle]="getStyles(this.param !== null)" />
                  </div>
                </div>
              </div>
              <!--#endregion request date-->

              <!--#region procurement_status-->
              <div class="col-md-4" hidden>
                <div class="form-group">
                  <label for="procurement_status" class="control-label">Procurement Status</label>
                  <input type="text" class="form-control" [ngModel]="model.procurement_status" maxlength="20"
                    name="p_procurement_status" readonly #procurement_status="ngModel">
                </div>
              </div>
              <!--#endregion procurement_status-->

              <!--#region division_code-->
              <div class="col-md-4">
                <label class="labelmodule">Division</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupDivisionCode()" data-target="#lookupModalDivisionCode" data-toggle="modal"
                        disabled href="#">
                        <i class="fa fa-search-plus"></i></button> {{model.division_name}}
                      <input type="hidden" name="p_division_code" [ngModel]="model.division_code"
                        #division_code="ngModel" />
                      <input type="hidden" name="p_division_name" [ngModel]="model.division_name"
                        #division_name="ngModel" />
                    </span>
                  </div>
                </div>
              </div>
              <!--#endregion division_code-->

              <!--#region department_code-->
              <div class="col-md-4">
                <label class="labelmodule">Department</label>
                <div class="form-group">
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupDepartmentCode(this.model.division_code)" disabled
                        data-target="#lookupModalDepartmentCode" data-toggle="modal" href="#">
                        <i class="fa fa-search-plus"></i></button> {{model.department_name}}
                      <input type="hidden" name="p_department_code" [ngModel]="model.department_code"
                        #department_code="ngModel" />
                      <input type="hidden" name="p_department_name" [ngModel]="model.department_name"
                        #department_name="ngModel" />
                    </span>
                  </div>
                </div>
              </div>
              <!--#endregion department_code-->

              <!--#region remark-->
              <div class="col-md-4">
                <div class="form-group" [class.has-error]="remark.invalid && remark.touched">
                  <label for="remark" class="control-label">Remark</label>
                  <textarea type="text" class="form-control" [ngModel]="model.remark" name="p_remark" maxlength="4000"
                    disabled #remark="ngModel"></textarea>
                </div>
              </div>
              <!--#endregion remark-->
            </div>
            <!--#endregion row-->
          </form>
          <!--#end region form-->
        </div>
        <div class="card-footer ">
        </div>

        <!--#region wizard-->
        <div class="wizard-custom-margin" [hidden]="param == null">
          <!--#region wizard container -->
          <div class="wizard-container">
            <div class="card-wizard" style="opacity: 1 !important; min-height: 0px;" data-color="primary"
              id="wizardProfile">
              <div class="text-center">
                <div class="wizard-navigation">
                  <ul>
                    <li class="nav-item" id="verificationitem">
                      <a class="nav-link" (click)="verificationitemwiz()" href="#verificationitemlist" data-toggle="tab"
                        role="tab" aria-controls="verificationitem" aria-selected="true">
                        Item
                      </a>
                    </li>
                    <li class="nav-item" id="verificationdocument">
                      <a class="nav-link" (click)="verificationdocumentwiz()" href="#verificationdocumentlist"
                        data-toggle="tab" role="tab" aria-controls="verificationdocument" aria-selected="true">
                        Document
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--#endregion wizard container-->
        </div>
        <!--endregion wizard-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--#region lookup DivisionCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDivisionCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupDivisionCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupdivisioncode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupdivisioncode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDivisionCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DivisionCode -->

<!--#region lookup DepartmentCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDepartmentCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupDepartmentCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupdepartmentcode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupdepartmentcode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDepartmentCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DepartmentCode -->

<!--#region lookup SubDepartmentCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSubDepartmentCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupSubDepartmentCode" class="table table-striped table-bordered hover"
              cellspacing="0" style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupsubdepartmentcode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupsubdepartmentcode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowSubDepartmentCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup SubDepartmentCode -->

<!--#region lookup UnitCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalUnitCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupUnitCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupunitcode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupunitcode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowUnitCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup UnitCode -->

<!--#region lookup BranchCode-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalBranchCode"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupBranchCode" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupbranchcode;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td style="text-align: center;">{{lookupbranchcode.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowBranchCode(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup BranchCode -->

<!--#region lookup return-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupCancelPayment"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" (click)="btnLookupClose()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <!--#region form-->
            <form #CancelPaymentForm="ngForm"
            (ngSubmit)="onFormSubmitPayment(CancelPaymentForm.value, CancelPaymentForm.valid, model.code, model.remark_return)">
            <!--#region button cancel-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00021530002154R">Save</button>

            <!--#region payment_remarks-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="name" class="control-label">Return Remark</label>
                <textarea id="cancelremark" type="text" class="form-control" [(ngModel)]="model.remark_return"
                  name="p_remark_return" required #remark_return="ngModel"></textarea>
              </div>
            </div>
            <!--#endregion payment_remarks-->
          </form>
          <!--#endregion form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup return-->

<!--#region lookup return-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupReject"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" (click)="btnLookupClose()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <!--#region form-->
            <form #RejectForm="ngForm"
            (ngSubmit)="onFormReject(RejectForm.value, RejectForm.valid, model.code)">
            <!--#region button cancel-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00021530012153R">Save</button>

            <!--#region payment_remarks-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="name" class="control-label">Reject Remark</label>
                <textarea id="cancelremark" type="text" class="form-control" [(ngModel)]="model.remark_return"
                  name="p_remark_return" required #remark_return="ngModel"></textarea>
              </div>
            </div>
            <!--#endregion payment_remarks-->
          </form>
          <!--#endregion form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup return-->

