<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h4 class="card-title">Payment Request Info (Interface)</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #paymentrequestdetailForm="ngForm"
            (ngSubmit)="onFormSubmit(paymentrequestdetailForm.value, paymentrequestdetailForm.valid)">

            <!--#region button back-->
            <button [hidden]="model.job_status !== 'FAILED'" type="button" data-role="R00010380001039O"
              class="btn btn-success btn-round" (click)="btnProceed(model.code)">Proceed</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button back-->

            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Request No </label>
                  <input type="text" class="form-control" [ngModel]="model.code" name="p_code" readonly>
                </div>
              </div>
              <!--#endregion code-->

              <!--#region Branch Code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Branch </label>
                  <input type="text" class="form-control" [ngModel]="model.branch_name" name="p_branch_name" readonly>
                </div>
              </div>
              <!--#endregion Branch Code-->

              <!--#region payment_status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Status </label>
                  <input type="text" class="form-control" [ngModel]="model.payment_status" name="p_payment_status"
                    readonly>
                </div>
              </div>
              <!--#endregion payment_status-->

              <!--#region payment_request_date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="payment_request_date" class="control-label">Date </label>
                  <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                    [ngModel]="model.payment_request_date" name="p_payment_request_date" [options]="myDatePickerOptions"
                    #p_payment_request_date="ngModel" #payment_request_date="angular-mydatepicker" autocomplete="off"
                    readonly />
                </div>
              </div>
              <!--#endregion payment_request_date -->

              <!--#region payment_currency_code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Currency </label>
                  <input type="text" class="form-control col-md-4" [ngModel]="model.payment_currency_code"
                    name="p_payment_currency_code" readonly>
                </div>
              </div>
              <!--#endregion payment_currency_code-->

              <!--#region payment_amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Request Amount</label>
                  <input type="text" class="form-control col-md-6" style="text-align: right;"
                    [ngModel]="model.payment_amount | number : '1.2-2'" name="p_payment_amount" amount="payment_amount"
                    readonly>
                </div>
              </div>
              <!--#endregion payment_amount-->

              <!--#region payment_source_no-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Reff No </label>
                  <input type="text" class="form-control" [ngModel]="model.payment_source_no" name="p_payment_source_no"
                    readonly>
                </div>
              </div>
              <!--#endregion payment_source_no-->

              <!--#region payment_source-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Reff Name </label>
                  <input type="text" class="form-control" [ngModel]="model.payment_source" name="p_payment_source"
                    readonly>
                </div>
              </div>
              <!--#endregion payment_source-->
            </div>
            <!--#endregion  row-->

            <!--#region row-->
            <div class="row">
              <!--#region to_bank_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>To Bank Name </label>
                  <input type="text" class="form-control" [ngModel]="model.to_bank_name" name="p_to_bank_name" readonly>
                </div>
              </div>
              <!--#endregion to_bank_name-->

              <!--#region to_bank_account_no-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>To Bank Account No </label>
                  <input type="text" class="form-control" [ngModel]="model.to_bank_account_no"
                    name="p_to_bank_account_no" readonly>
                </div>
              </div>
              <!--#endregion to_bank_account_no-->

              <!--#region to_bank_account_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>To Bank Account Name </label>
                  <input type="text" class="form-control" [ngModel]="model.to_bank_account_name"
                    name="p_to_bank_account_name" readonly>
                </div>
              </div>
              <!--#endregion to_bank_account_name-->

              <!--#region job_status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Job Status</label>
                  <input type="text" class="form-control" [ngModel]="model.job_status" maxlength="10"
                    name="p_job_status" readonly>
                </div>
              </div>
              <!--#endregion job_status-->

              <!--#region failed_remarks-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Failed Remark </label>
                  <textarea type="text" class="form-control" [ngModel]="model.failed_remarks" maxlength="4000"
                    name="p_failed_remarks" readonly>
                  </textarea>
                </div>
              </div>
              <!--#endregion failed_remarks-->

            </div>
            <!--#endregion  row-->

            <span layout="horizontal-divider">
              <hr flex />
            </span>
            <br>
            <!--#region row-->
            <div class="row">
              <!--#region process_date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="process_date" class="control-label">Process Date </label>
                  <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                    [ngModel]="model.process_date" name="p_process_date" [options]="myDatePickerOptions"
                    #p_process_date="ngModel" #process_date="angular-mydatepicker" autocomplete="off" readonly />
                </div>
              </div>
              <!--#endregion process_date -->

              <!--#region process_reff_no-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Process Reff No </label>
                  <input type="text" class="form-control" [ngModel]="model.process_reff_no" name="p_process_reff_no"
                    readonly>
                </div>
              </div>
              <!--#endregion process_reff_no-->

              <!--#region process_reff_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Process Reff Name </label>
                  <input type="text" class="form-control" [ngModel]="model.process_reff_name" name="p_process_reff_name"
                    readonly>
                </div>
              </div>
              <!--#endregion process_reff_name-->
            </div>
            <!--#endregion  row-->
          </form>
          <!--#endregion form-->
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="param != null">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Detail List</h4>
        </div>
        <div class="card-body">

          <!--#region list view-->
          <table id="datatablePaymentRequestDetail" datatable [dtOptions]="dtOptions"
            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="disabled-sorting">No</th>
                <th style="display: none;"></th>
                <th>GL Link</th>
                <th>Branch </th>
                <th>Orig Amount</th>
                <th>Division / Department</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of listpaymentrequestdetail;let i=index ">
                <td style="text-align: center;">{{listpaymentrequestdetail.numberIndex+i+1}}</td>
                <td style="display: none;"></td>
                <td style="width: 15%;text-align: left;">{{row.gl_link_code}}</td>
                <td style="width: 15%;text-align: left;">{{row.branch_name}} <br>
                <td style="width: 15%;text-align: right;">{{row.orig_currency_code}} <br> {{row.orig_amount | number :
                  '1.2-2'}}</td>
                <td style="width: 25%;text-align: left;">{{row.division_name}} <br> {{row.department_name}}</td>
                <td style="width: 40%;text-align: left;">{{row.remarks}}</td>
              </tr>
            </tbody>
          </table>
          <!--#endregion list view-->
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>