<router-outlet></router-outlet>


<div id="hideMainPanelWiz" class="main-content margin-wizard-content">
    <div class="row">
        <div class="col-md-12">
            <div class="toolbar">
                <!--#region button add-->
                <button class="btn btn-info btn-round" (click)="btnAdd()" data-role="R00021580002159C"
                    [hidden]="model.status !== 'HOLD' || model.is_termin === '0'">
                    Add
                </button>
                <button class="btn btn-danger btn-round" (click)="btnDeleteAll()" data-role="R00021580002159D"
                    [hidden]="model.status !== 'HOLD' || model.is_termin === '0'">
                    Delete
                </button>
                <button hidden id="termwiz" type="button" (click)="callGetrowHeader()"></button>
                <!--#endregion button add-->
            </div>
            <div class="card-body">
                <input type="text" [ngModel]="model.status" name="p_status" hidden>
                <input type="text" [ngModel]="model.is_termin" name="p_is_termin" hidden>
                <input type="text" [ngModel]="model.model_code" name="p_model_code" #model_code="ngModel" hidden>
                <input type="text" [ngModel]="model.merk_code" name="p_merk_code" #merk_code="ngModel" hidden>
                <!--#region list view-->
                <table id="datatabltermofpayment" datatable [dtOptions]="dtOptions"
                    class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="disabled-sorting">No</th>
                            <th class="disabled-sorting" [hidden]="model.status !== 'HOLD'">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="checkall"
                                            [(ngModel)]="selectedAll" (change)="selectAll()" name="selectAll" />
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </th>
                            <th>Transaction</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Percentage</th>
                            <th>Remark</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of listtermofpayment;  let i=index">
                            <td style="text-align: center;">{{listtermofpayment.numberIndex+i+1}}</td>
                            <td class="disabled-sorting" [hidden]="model.status !== 'HOLD'">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                                            name="selected" (change)="checkIfAllTableSelected($event, row.id)" />
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </td>
                            <td style="width: 15%;text-align: left;">{{row.transaction_name}}</td>
                            <td style="width: 15%;text-align: center;">{{row.termin_type_name}}</td>
                            <td style="width: 15%;text-align: right;">{{row.amount | number : '1.2-2'}}</td>
                            <td style="width: 15%;text-align: right;">{{row.percentage | number : '1.6-6'}}</td>
                            <td style="width: 40%;text-align: left;">{{row.remark}}</td>
                            <td style="text-align: center">
                                <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit"
                                    (click)="btnEdit(row.id)"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--#endregion list view-->
            </div>
        </div>
    </div>
</div>