<router-outlet></router-outlet>


<div id="hideMainPanelWiz" class="main-content margin-wizard-content">
    <div class="row">
        <div class="col-md-12">
            <div class="toolbar">
                <!--#region button add--->
                <button [hidden]="this.param == null || model.status !== 'NEW'" class="btn btn-info btn-round"
                    type="button" (click)="btnLookupItem()" data-target="#lookupModalItem" data-toggle="modal" href="#"
                    data-role="R00021490002150C">
                    Add </button>
                <button [hidden]="this.param == null || model.status !== 'NEW'" class="btn btn-info btn-round"
                    (click)="btnSaveList()" data-role="R00021490002150C">
                    Save
                </button>
                <button [hidden]="this.param == null || model.status !== 'NEW'"
                    class="btn btn-info btn-round custom-button-width" (click)="btnDownload()" data-role="R00021490002150P">Download
                    Template
                </button>
                <span [hidden]="this.param == null || model.status !== 'NEW'"
                    class="btn btn-success btn-round btn-file custom-button-width">
                    <input id="fileControl" type="file" accept=".xls, .xlsx" (change)="onUploadReader($event)"
                        data-role="R00021490002150C" />
                    <span>Upload Excel</span>
                </span>{{tempFile}}
                <button [hidden]="this.param == null || model.status !== 'NEW'" class="btn btn-danger btn-round"
                    (click)="btnDeleteAll()" data-role="R00021490002150D">
                    Delete
                </button>
                <!--#endregion button add--->
            </div>

            <!-- <input type="text" [ngModel]="model.status" name="p_status" hidden> -->

            <div class="card-body">
                <!-- <input type="text" [ngModel]="model.status" name="p_status" hidden> -->
                <!--#region list view-->
                <table id="datatableBudgetingQtyDetail" datatable [dtOptions]="dtOptions"
                    class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="disabled-sorting">No</th>
                            <th class="disabled-sorting">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="checkall"
                                            [(ngModel)]="selectedAll" (change)="selectAllTable();" />
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </th>
                            <!-- <th>Item</th> -->
                            <th>Item Group</th>
                            <th>Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of listbudgetingqty;  let i=index">
                            <td style="text-align: center;">{{listbudgetingqty.numberIndex+i+1}}</td>
                            <td class="disabled-sorting">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                                            (change)="checkIfAllTableSelected($event, row.id);">
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <input hidden name="p_id_qty" [ngModel]="row.id">
                            </td>
                            <td style="width: 30%;text-align: left;">{{row.item_group_name}}</td>
                            <!-- <td style="text-align: left;width: 10%;">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button [disabled]="model.status !== 'NEW'" class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                                            type="button" (click)="btnLookupItemGroup(row.id)" data-toggle="modal"
                                            data-target="#lookupModalItemGroup" href="#"><i
                                                class="fa fa-search-plus"></i></button>
                                        {{row.item_group_name}}
                                        <input type="hidden" class="form-control" [ngModel]="model.item_group_code"
                                            name="p_item_group_code" #item_group_code="ngModel">
                                        <input type="hidden" class="form-control" [ngModel]="model.item_group_name"
                                            name="p_item_group_name" #item_group_name="ngModel">
                                    </div>
                                </div>
                            </td> -->
                            <td style="width: 70%" class="if-no-edit-btn">
                        <tr>
                            <td style="vertical-align: text-bottom">JAN</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_jan_qty{{i}}"
                                        (blur)="onBlurBudgetJanQty($event,i,'amount')"
                                        (focus)="onFocusBudgetJanQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_jan_qty | number : '1.0-0'}}" amount="budget_jan_qty"
                                        name="p_budget_jan_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">FEB</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_feb_qty{{i}}"
                                        (blur)="onBlurBudgetFebQty($event,i,'amount')"
                                        (focus)="onFocusBudgetFebQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_feb_qty | number : '1.0-0'}}" amount="budget_feb_qty"
                                        name="p_budget_feb_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">MAR</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_mar_qty{{i}}"
                                        (blur)="onBlurBudgetMarQty($event,i,'amount')"
                                        (focus)="onFocusBudgetMarQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_mar_qty | number : '1.0-0'}}" amount="budget_mar_qty"
                                        name="p_budget_mar_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">APR</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_apr_qty{{i}}"
                                        (blur)="onBlurBudgetAprQty($event,i,'amount')"
                                        (focus)="onFocusBudgetAprQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_apr_qty | number : '1.0-0'}}" amount="budget_apr_qty"
                                        name="p_budget_apr_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: text-bottom">MEI</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_mei_qty{{i}}"
                                        (blur)="onBlurBudgetMeiQty($event,i,'amount')"
                                        (focus)="onFocusBudgetMeiQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_mei_qty | number : '1.0-0'}}" amount="budget_mei_qty"
                                        name="p_budget_mei_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">JUN</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_jun_qty{{i}}"
                                        (blur)="onBlurBudgetJunQty($event,i,'amount')"
                                        (focus)="onFocusBudgetJunQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_jun_qty | number : '1.0-0'}}" amount="budget_jun_qty"
                                        name="p_budget_jun_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">JUL</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_jul_qty{{i}}"
                                        (blur)="onBlurBudgetJulQty($event,i,'amount')"
                                        (focus)="onFocusBudgetJulQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_jul_qty | number : '1.0-0'}}" amount="budget_jul_qty"
                                        name="p_budget_jul_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">AUG</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_agt_qty{{i}}"
                                        (blur)="onBlurBudgetAgtQty($event,i,'amount')"
                                        (focus)="onFocusBudgetAgtQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_agt_qty | number : '1.0-0'}}" amount="budget_agt_qty"
                                        name="p_budget_agt_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: text-bottom">SEP</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_sep_qty{{i}}"
                                        (blur)="onBlurBudgetSepQty($event,i,'amount')"
                                        (focus)="onFocusBudgetSepQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_sep_qty | number : '1.0-0'}}" amount="budget_sep_qty"
                                        name="p_budget_sep_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">OCT</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_okt_qty{{i}}"
                                        (blur)="onBlurBudgetOktQty($event,i,'amount')"
                                        (focus)="onFocusBudgetOktQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_okt_qty | number : '1.0-0'}}" amount="budget_okt_qty"
                                        name="p_budget_okt_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">NOV</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_nov_qty{{i}}"
                                        (blur)="onBlurBudgetNovQty($event,i,'amount')"
                                        (focus)="onFocusBudgetNovQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_nov_qty | number : '1.0-0'}}" amount="budget_nov_qty"
                                        name="p_budget_nov_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                            <td style="vertical-align: text-bottom">DES</td>
                            <td style="text-align: right">
                                <div class="form-group">
                                    <input [disabled]="model.status !== 'NEW'" id="budget_des_qty{{i}}"
                                        (blur)="onBlurBudgetDesQty($event,i,'amount')"
                                        (focus)="onFocusBudgetDesQty($event,i,'amount')" class="text-right" type="text"
                                        value="{{row.budget_des_qty | number : '1.0-0'}}" amount="budget_des_qty"
                                        name="p_budget_des_qty" style="width:100px ;" maxlength="15">
                                </div>
                            </td>
                        </tr>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <!--#endregion list view-->
            </div>
        </div>
    </div>
</div>

<!--#region lookup Item-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalItem" style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" (click)="btnLookupClose()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12">
                    <div class="card-body col-md-12">
                        <!--#region form-->
                        <!-- <form #ItemForm="ngForm"
                            (ngSubmit)="onFormSubmit(ItemForm.value, ItemForm.valid)">
                        </form> -->
                        <!--#endregion form-->

                        <!--#region button add //data-role="R0000041U"-->
                        <button class="btn btn-info btn-round" (click)="btnSelectAllLookup()"
                            data-role="R00013210001322C">
                            add
                        </button>
                        <!--#endregion button add--->

                        <table id="datatableLookupItem" class="table table-striped table-bordered hover" cellspacing="0"
                            style="min-width: 100%;">
                            <thead>
                                <tr>
                                    <th class="disabled-sorting">No</th>
                                    <th class="disabled-sorting">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" id="checkallLookup"
                                                    [(ngModel)]="selectedAllLookup" (change)="selectAllLookup();" />
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of lookupItem;  let i=index">
                                    <td style="text-align: center;">{{lookupItem.numberIndex+i+1}}</td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"
                                                    [(ngModel)]="row.selectedLookup"
                                                    (change)="checkIfAllLookupSelected($event, row.code);">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td style="text-align: center;width: 40%;" class="if-no-edit-btn">{{ row.code }}
                                    </td>
                                    <td style="text-align: left;width: 600%;">{{ row.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion lookup Item-->

<!--#region modal lookup item group-->
<div class="modal" id="lookupModalItemGroup" style="margin-top: -75px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <form>
                    <div class="col-md-12">
                        <div class="card-body col-md-12" style="width: 100%">
                            <table id="datatableLookupItemGroup" class="table table-striped table-bordered hover"
                                cellspacing="0" style="min-width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="display: none;"></th>
                                        <th class="disabled-sorting">No</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of lookupItemGroup;let i=index ">
                                        <td class="if-no-edit-btn" style="display: none;"></td>
                                        <td class="if-no-edit-btn" style="text-align: center;">
                                            {{lookupItemGroup.numberIndex+i+1}}</td>
                                        <td style="width: 20%; text-align: center;">{{ row.code }}</td>
                                        <td style="width: 80%;">{{ row.description }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-outline-default btn-round"
                                                (click)="btnSelectRowItemGroup(row.code, row.description)">Select</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--#endregion modal lookup item group-->