<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h4 class="card-title">GL Info</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #masteritemgroupglForm="ngForm"
            (ngSubmit)="onFormSubmit(masteritemgroupglForm.value, masteritemgroupglForm.valid)">
            <!--#region button submit dan back-->
            <button type="save" class="btn btn-info btn-round" data-role="R00022440042245C">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">

              <!--#region id-->
              <input type="text" class="form-control" [ngModel]="this.params" maxlength="50" name="p_id" #id="ngModel"
                hidden>
              <!--#endregion id-->

              <!--#region company_code-->
              <input type="text" class="form-control" [ngModel]="model.company_code" maxlength="50"
                name="p_company_code" #company_code="ngModel" hidden>
              <!--#endregion company_code-->

              <!--#region item_group_code-->
              <input type="text" class="form-control" [ngModel]="this.param" maxlength="50" name="p_item_group_code"
                #item_group_code="ngModel" hidden>
              <!--#endregion item_group_code-->

              <!--#region currency-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="currency" class="control-label">Currency *</label>
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                        (click)="btnLookupCurrency()" data-toggle="modal" data-target="#lookupModalCurrency" href="#"><i
                          class="fa fa-search-plus"></i></button>
                      {{model.currency_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.currency_code" name="p_currency_code"
                        required #currency_code="ngModel">
                    </span>
                  </div>
                  <small
                    *ngIf="currency_code.errors?.required && currency_code.touched || (currency_code.errors?.required && masteritemgroupglForm.submitted)"
                    class="text-danger">
                    Currency is required
                  </small>
                </div>
              </div>
              <!--#endregion currency-->

              <!--#region radio button category-->
              <div class="col-md-4">
                <label>Transaction Type</label>
                <div class="form-group" style="margin-left: 15px;">
                  <div class="row">
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input col-md-6" type="radio" name="p_category" value="FXDAST"
                          [(ngModel)]="model.category" (change)="CategoryType($event)">Fixed Asset
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input col-md-6" type="radio" name="p_category" value="EXPENSE"
                          [(ngModel)]="model.category" (change)="CategoryType($event)">Expense
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input col-md-6" type="radio" name="p_category" value="INVENTORY"
                          [(ngModel)]="model.category" (change)="CategoryType($event)">Inventory
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!--#endregion radio button category-->

              <!--#region gl Asset-->
              <div class="col-md-4" [hidden]="model.category === 'FXDAST'">
                <div class="form-group">
                  <label for="gl_asset_code" class="control-label">GL Transaction *</label>
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                        (click)="btnLookupGlLink()" data-toggle="modal" data-target="#lookupModalGlLink" href="#"><i
                          class="fa fa-search-plus"></i></button>
                      {{model.gl_asset_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.gl_asset_code" name="p_gl_asset_code"
                        [required]="model.category !== 'FXDAST'" #gl_asset_code="ngModel">
                    </span>
                  </div>
                  <small
                    *ngIf="gl_asset_code.errors?.required && gl_asset_code.touched || (gl_asset_code.errors?.required && masteritemgroupglForm.submitted)"
                    class="text-danger">
                    GL Asset is required
                  </small>
                </div>
              </div>
              <!--#endregion gl Asset-->

              <!--#region GL Inprogress-->
              <div class="col-md-4" [hidden]="model.category === 'FXDAST'">
                <div class="form-group">
                  <label for="gl_inprogress_code" class="control-label">GL Asset Inprogress *</label>
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                        (click)="btnLookupGlInprogress()" data-toggle="modal" data-target="#lookupModalGlInprogress"
                        href="#"><i class="fa fa-search-plus"></i></button>
                      {{model.gl_inprogress_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.gl_inprogress_code"
                        name="p_gl_inprogress_code" [required]="model.category !== 'FXDAST'"
                        #gl_inprogress_code="ngModel">
                    </span>
                  </div>
                  <small
                    *ngIf="gl_inprogress_code.errors?.required && gl_inprogress_code.touched || (gl_inprogress_code.errors?.required && masteritemgroupglForm.submitted)"
                    class="text-danger">
                    GL Inprogress is required
                  </small>
                </div>
              </div>
              <!--#endregion GL Inprogress-->

              <!--#region GL Expend-->
              <div class="col-md-4" [hidden]="model.category === 'FXDAST'">
                <div class="form-group">
                  <label for="gl_expend_code" class="control-label">Low Value *</label>
                  <div class="col-md-12">
                    <span>
                      <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                        (click)="btnLookupGlExpend()" data-toggle="modal" data-target="#lookupModalGlExpend" href="#"><i
                          class="fa fa-search-plus"></i></button>
                      {{model.gl_expend_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.gl_expend_code" name="p_gl_expend_code"
                        [required]="model.category !== 'FXDAST'" #gl_expend_code="ngModel">
                    </span>
                  </div>
                  <small
                    *ngIf="gl_expend_code.errors?.required && gl_expend_code.touched || (gl_expend_code.errors?.required && masteritemgroupglForm.submitted)"
                    class="text-danger">
                    GL Expend is required
                  </small>
                </div>
              </div>
              <!--#endregion GL Expend-->

            </div>
            <!--#endregion row-->

          </form>
          <!--#end region form-->

        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region lookup currency  -->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCurrency"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatablelookupCurrency" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupCurrency;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupCurrency.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 20%;">{{ row.code }}</td>
                  <td style="text-align: left; width: 80%;">{{ row.description }}</td>
                  <td class="text-center" style="text-align: center;">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowCurrency(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup currency-->

<!--#region lookup gl link  -->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalGlLink"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupGlLink" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupGlLink;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupGlLink.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 20%;">{{ row.code }}</td>
                  <td style="text-align: left; width: 80%;">{{ row.name }}</td>
                  <td class="text-center" style="text-align: center;">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowGlLink(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup gl link-->

<!--#region lookup gl expend  -->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalGlExpend"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupGlExpend" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupGlExpend;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupGlExpend.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 20%;">{{ row.code }}</td>
                  <td style="text-align: left; width: 80%;">{{ row.name }}</td>
                  <td class="text-center" style="text-align: center;">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowGlExpend(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup gl expend-->

<!--#region lookup gl inprogress  -->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalGlInprogress"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupGlInprogress" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupGlInprogress;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupGlInprogress.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 20%;">{{ row.code }}</td>
                  <td style="text-align: left; width: 80%;">{{ row.name }}</td>
                  <td class="text-center" style="text-align: center;">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowGlInprogress(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup gl inprogress-->