<div class="main-content">
  <!--#region highchart -->
  <div class="row">

    <div class="{{dash.dashboard_grid}}" *ngFor="let dash of listDashboard">
      <div class="card ">
        <div class="card-header ">
        </div>
        <div class="card-body ">
          <div attr.id="{{dash.code}}" style="min-width: 310px; max-width: 100%; height: 400px; margin: 0 auto">
          </div>
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>

  </div>
  <!--#endregion highchart -->
</div>